/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: rgba(0, 0, 0, 1);
    --blackop: rgba(0, 0, 0, 0.5);
    --deepblue: rgba(20, 25, 34, 1);
    --darkgray: rgba(40, 40, 40, 1);
    --white: rgba(255, 255, 255, 1);
    --lightgray: rgba(113, 113, 113, 1);
    --lightgreen: rgba(173, 255, 47, 1);
    --font-m: 0.8rem;
    --font-l: 15px;
    --font-s: 12px;
    --font-xs: 11px;
}
.debug {
    border: 1px solid yellow;
    min-height: 50px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}
img {
    max-width: 100%;
    display: block;
}
span {
    display: block;
}
/* general classes */
.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.d-flex {
    display: flex;
}
.d-wrap {
    flex-wrap: wrap;
}
.fdir-column {
    flex-direction: column;
}
.just-center {
    justify-content: center;
}
.just-fend {
    justify-content: flex-end;
}
.just-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.btn {
    border: 1px solid;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1);
}
.btn-white {
    border-color: var(--white);
}
.btn-white-a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-m);
}
.nav-voices {
    color: var(--lightgray);
    list-style-type: none;
    text-decoration: none;
    font-size: var(--font-m);
}
.up-case {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
.vertalig-mid {
    vertical-align: middle;
}
.txt-small-gray {
    font-size: var(--font-s);
    color: rgb(153, 153, 153);
    font-weight: bold;
}
a.greenline {
    color: var(--white);
}
a.greenline::after {
    content: '';
    display: block;
    height: 2px;
    width: 45%;
    background-color: var(--lightgreen);
    margin: 0.1rem auto;
}
 /* MAIN */
main {
    width: 100%;
    height: calc(100vh - 90px);
}
/* left nav */
#left-nav {
    width: 230px;
    height: 100%;
    background-color: var(--black);
    z-index: 800;
    padding: 1.2rem 1rem 0 1rem;
}
#spotify {
    width: 60%;
    padding-bottom: 1rem;
}
#spoty {
    display: none;
}
#left-nav svg {
    width: 25px;
}
svg path {
    fill: var(--lightgray);
}
.main-left-menu path:hover {
    fill: var(--white);
}
#left-nav > div ul li {
    padding-bottom: 0.5rem;
}
#left-nav > div ul li a {
    margin-right: 5px;
}
/* .main-left-menu li {
    border-left: 2px solid var(--lightgreen);
} */
.playlist-menu {
    margin-top: 1rem;
}
.playlist-menu span {
    font-size: var(--font-m);
    padding-bottom: 0.5rem;
}
.playlist-menu #plus i {
    color: var(--lightgray);
    font-size: 2.3rem;
    margin-right: 8px;
}
.playlist-menu #plus i:hover, .playlist-menu #plus a:hover {
    color: var(--white);
}
.playlist-list {
    overflow-y: auto;
    min-height: 180px;
    flex-grow: 3;
}
.playlist-list ul li {
    padding-top: 0.5rem;
}
.user-logged {
    width: 100%;
}
.user-logged span {
    padding: 0.8rem 0 0.5rem 0;
}
.user-logged svg path {
    fill: var(--white);
}
.user-logged span:first-of-type {
    border-bottom: 1px solid var(--lightgray);
}
.user-logged span:first-of-type #download {
    width: 15px;
    margin-right: 8px;
}
.user-logged span:first-of-type a {
    vertical-align: text-top;
}
.user-logged span:first-of-type a:hover {
    color: var(--white);
}
.user-logged span:last-of-type div {
    background-color: var(--lightgray);
    text-align: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
}
.user-logged span:last-of-type a {
    color: var(--white);
}
.user-logged span:last-of-type a:hover {
    transform: scale(1.2);
}
/* main content */
.main-content {
    width: calc(100% - 230px);
    height: 100% ;
    background-image: linear-gradient(rgba(20, 25, 34, 1), rgb(35, 150, 70));
    overflow-y: hidden;
}
aside {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 700;
    padding-right: 1.2rem;
} 
.libraries {
    height: 100%;
    overflow-y: auto;
    padding-top: 90px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.lib-nav ul li {
    padding-right: 1.8rem;
    padding-top: 1.2rem;
}
ul li:hover a {
    color: var(--white);
}
.library {
    width: 100%;
    margin-top: 2rem;
}
.card {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    width: calc((100% - 3rem) / 6);
    text-align: center;
}
.round-card {
    border-radius: 50%;
}
.img-album {
    position: relative;
    cursor: pointer;
}
.layover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--blackop);
    display: none;
}
.img-album i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}
.img-album:hover .layover {
    display: block;
}
.album-title {
    font-size: var(--font-l);
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}
.under-h2 {
    padding-top: 0.5rem;
}
 /* FOOTER */
footer {
    width: 100%;
    height: 90px;
    background-color: var(--darkgray);
    position: fixed;
    bottom: 0;
    z-index: 900;
    padding: 0 0.5rem;
}
footer .foot-left, footer .foot-right {
    flex-basis: 30%;
} 
footer .foot-center {
    flex-basis: 40%;
}
footer i {
    cursor: pointer;
}
footer .foot-left i, footer .foot-right i {
    padding-right: 0.8rem;
    font-size: var(--font-s);
}
footer .foot-left #preferences {
    padding-left: 1.5rem;
}
footer .foot-left .playing-album div:first-of-type {
    margin-right: 10px;
}
footer .foot-left img {
    width: 3.5rem;
}
footer .foot-left i {
    color: var(--lightgray);
}
footer .foot-left i.fa-heart:hover {
    color: var(--lightgreen);
}
footer .foot-left i.fa-folder:hover {
    color: var(--white);
}
footer .foot-left .playing-album div span:first-of-type, footer .foot-center .track-bar span {
    font-size: var(--font-s);
}
footer .foot-left .playing-album div span:last-of-type {
    font-size: var(--font-xs);
    color: var(--lightgray);
}
footer .foot-center .controls {
    padding-bottom: 1rem;
}
footer .foot-center .controls i {
    padding-right: 1.5rem;
    font-size: 1rem;
    text-align: center;
}
footer .foot-center .controls i.fa-circle-play {
    font-size: 1.6rem;
}
footer .track-bar progress {
    width: 85%;
    margin: 0 0.3rem;
}
footer .foot-right {
    justify-content: flex-end;
    padding-left: 0.7rem;
}
footer .foot-right progress {
    width: 50%;
}
progress::-webkit-progress-bar {
    border-radius: 10px;
    height: 10px;
}
progress[value] {
    -webkit-appearance: none;
     appearance: none;
}
progress::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
      border-radius: 10px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress::-moz-progress-bar {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
      background-size: 35px 20px, 100% 100%, 100% 100%;
}
footer .foot-center .controls i:hover, footer .foot-right i:hover {
    transform: scale(1.2);
}
/* PAG STRANGER */
/* FOOTER */
#stranger .main-content {
    background-image: linear-gradient(to right, rgb(174, 42, 151), rgb(93, 139, 232));
}
#stranger aside {
    height: 80px;
}
#stranger .album-presentation {
    height: 40%;
    padding-top: 100px;
    padding-left: 2rem;
}
#stranger .album-presentation .single-cover {
    width: 15rem;
    padding-right: 1.5rem;
}
#stranger .album-presentation .single-cover img {
    box-shadow: 7px 7px 33px -8px #000000;
}
#stranger .album-presentation .presentation-txt {
    padding-top: 2rem;
}
#stranger .presentation-txt span:first-of-type {
    font-size: var(--font-s);
    padding-bottom: 0.8rem;
}
#stranger .presentation-txt h1 {
    font-size: 3.5rem;
    padding-bottom: 2.3rem;
}
#stranger .presentation-txt span.subtitle {
    font-size: var(--font-l);
    padding-bottom: 0.8rem;
}
/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .card {
        width: calc((100% - 2rem) / 4);
    }
}
@media screen and (max-width: 576px) {
    .card {
        width: calc((100% - 1rem) / 2);
    }
    section.libraries nav.lib-nav ul li a {
        font-size: var(--font-xs);
    }
    footer .foot-left .playing-album div:last-of-type, footer .foot-right i.fa-display {
        display: none;
    }
    footer .foot-left #preferences {
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 0.5rem;
    }  
}
@media screen and (max-width: 450px) {
    #left-nav {
        width: 50px;
        padding: 0.5rem;
    }
    .main-content, aside {
        width: calc(100% - 50px) ;
    }
    #spotify, #home, #search, #yourlib, .playlist-menu, .playlist-list, #install, #johnd, footer .foot-center .track-bar, footer .foot-right i.fa-list-ul {
        display: none;
    }
    #spoty {
        display: block;
        padding-bottom: 0.8rem;
        width: 95%;
    }
    #left-nav .main-left-menu {
        flex-grow: 3;
    }
    #left-nav .main-left-menu ul li {
        text-align: center;
    }
    #left-nav .main-left-menu ul li a {
        margin: 0;
    }
    #left-nav .main-left-menu ul li a svg {
        font-size: 20px;
    }
    #left-nav .user-logged span {
        border: none;
        text-align: center;
        padding: 0;
    }
    #left-nav span:last-of-type div.round-card {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        margin-top: 10px;
    }
    #left-nav span:last-of-type div.round-card svg {
        width:80%;
    }
    section.libraries nav.lib-nav ul li a {
        font-size: var(--font-xs);
    }
    footer .foot-center .controls {
        padding-bottom: 0;
    }
    footer .foot-center .controls i {
        padding-right: 0.8rem;
    }
    footer .foot-center .controls i:last-of-type {
        padding-right: 0;
    }
}